.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  background: transparent;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
}

.header-right {
  gap: 22px;
}

.header-icon {
  font-size: 18px;
  color: #5e5873;
  cursor: pointer;
}

.flag {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

.profile-wrapper {
  position: relative;
  width: 38px;
  height: 38px;
}

.profile-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.online-dot {
  position: absolute;
  bottom: 2px;
  right: 2px;
  width: 10px;
  height: 10px;
  background-color: #28c76f;
  border: 2px solid #fff;
  border-radius: 50%;
}
